:root {
	--primary-100: #05C782;
	--primary-200: #0FA47B;
	--grey: #AAA6AC;
	--grey-pale: rgba(170, 166, 172, 0.6);
	--dark: #273A49;
	--light: #F1F3F6;
	--light-pale: rgba(241, 243, 246, 0.6);
	--gutter-tiny: 8px;
	--gutter-medium: 16px;
	--gutter-large: 24px;
}